# IDE / Tools
/docs/kicad/pihole_display_cape.kicad_prl

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/

# Virtual environment (created by install.sh)
pihole-display/venv/

# Logs
*.log
journalctl.txt

# OS
.DS_Store
Thumbs.db
